.dashboard-container {
  width: 100%;

}

.dashboard-heading {
    font-size: 24px;
    margin-bottom: 20px;
    
}
.dashboard-actions{
    max-width: 600px;
    margin: 0 auto;
}
.dashboard-actions button{
    margin-right: 10px;

}