.dashboard-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.dashboard-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.note-form label,

.note-form textarea,
.note-form button {
    display: block;
    margin-bottom: 10px;
}

.note-list-heading {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.note-list {
    list-style-type: none;
    padding: 0;
}

.note-item {
    background-color: #f7f7f7;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.note-item h4 {
    margin-top: 0;
}

.note-actions button {
    margin-right: 5px;
}

.error-message {
    color: red;
    margin-top: 5px;
}

.search-container {
    margin-bottom: 20px;
    margin-top: 10px;
    
}

.search-container label {
    display: block;
    margin-bottom: 5px;
}

.search-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="btn"] {
    width: 28%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type='text'] {
    width: 51%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


